#arext-ui {
  box-sizing: border-box;
  position: fixed;
  right: 5px;
  top: 5px;
  padding: 5px;
  border: 1px solid #999;
  width: 140px;
  background-color: #fff;
  z-index: 20000;
}

#arext-msg {
  font-size: 14px;
  margin: 0;
  margin-top: 4px;
  font-weight: normal;
  font-family: Arial, sans-serif !important;
}

#arext-qrc {

}
